<form id="login" method="post">
	<input type="email" id="correo" name="correo" value="" placeholder="Tu Email">
	<br><br>
	<input type="password" id="clave" name="clave" value="" placeholder="Tu contraseña">
	<br><br>
	<input type="submit" value="Login">
</form>
<script type="text/javascript">
	/*$( document ).ready(function(e) {
		console.log("jquery doc ready bby");
	});*/
	$(function() {
		$('#login').on('submit', (e) => {
			e.preventDefault();
			const formData = {
				correo: $("#correo").val(),
				clave: $("#clave").val()
			}
			// console.log("Data form", formData);
			fetch('http://localhost:4000/api/signin', {
				method: 'POST',
				body: JSON.stringify(formData),
				headers: { 'Content-Type': 'application/json' }
			})
			.then(res => res.json())
			.then(data => console.log("la data:", data));
		})
	});

</script>
